.content {
  min-height: 140px;
  width: 700px;
  border-radius: 17px;
  margin-top: 20px;
  transform: translateX(-70px);
  background: #eaeaea;
  box-shadow: 0 4px #d3d3d3;
  transition: 0.7s;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 30px;
  padding-top: 40px;
}

.content:hover {
  box-shadow: 0 2px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

#id_0 {
  height: 20px;
  transform: rotate(180deg) translateX(-1px);
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.info_el {
  min-height: 60px;
  display: flex;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
  border-radius: 10px;
}

.info_el:hover {
  background: #c9c9c9;
}

.info_el > p {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}

.ava {
  height: 45px;
  width: 45px;
  border-radius: 12px;
  margin: 4px;
  margin-left: 1px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.smail {
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
}

.info_el > img {
  cursor: pointer;
  position: absolute;
  height: 20px;
  right: 20px;
  margin-top: 20px;
}

#id_1 {
  position: absolute;
  left: 375px;
  opacity: 0.5;
  height: 20px;
  margin-top: 9px;
}

.img {
    height: 240px;
    margin: 20px;
    margin-left: 0;
    transform: translateX(-70px);
    border-radius: 10px;
    cursor: pointer;
}