.content {
  height: 600px;
  width: 600px;
  border-radius: 22px;
  background: #eaeaea;
  margin-top: 10px;
  display: flex;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
  padding: 30px;
}

.content:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.content1 {
  min-height: 200px;
  width: 600px;
  border-radius: 22px;
  background: #eaeaea;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
  padding: 30px;
}

.content1:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.content2 {
  height: 80px;
  width: 650px;
  cursor: pointer;
  border-radius: 15px;
  background: #eaeaea;
  margin-top: 20px;
  display: flex;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content2:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.header {
  height: 160px;
  width: 100%;
  display: flex;
  transform: translateX(-8px);
}

.body {
  height: 60%;
  width: 100%;
  margin-top: 20px;
}

.body > div {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
}

.header > div {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.header > div > p {
  color: #e74343;
  margin-block: 10px;
  font-size: 20px;
}

.ava {
  height: 65px;
  width: 65px;
  border-radius: 14px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.4s;
}

.ava:hover {
  transform: translateY(-5px);
}

.ava:hover ~ p {
  transform: translateY(-5px);
}

.body > div > div {
  height: 100%;
  transform: translateY(20px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  height: 180px;
  width: 130px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: end;
  transition: 0.7s;
}
.player > img {
  height: 110px;
}

.player:hover {
  transform: translateY(-8px);
}

#id_3 {
  height: 55px;
  margin-top: 10px;
}

.player > div {
  width: 85px;
  height: 95px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-radius: 5px;
  background: rgb(119, 119, 119);
  background-position: center;
  background-size: cover;
}

.player > p {
  height: 50px;
  width: 95px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #686868;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

#id_0 {
  height: 18px;
  transform: rotate(180deg) translateX(-1px);
  position: absolute;
  top: -5px;
  left: 5px;
  cursor: pointer;
}

#id_32 {
  position: absolute;
  top: 58%;
  left: 50%;
  height: 140px;
  transition: 1s;
  cursor: pointer;
  transform: rotate(30deg) translateX(-45%);
}

#id_32:hover {
  top: 62%;
  transform: rotate(50deg) translateX(-45%);
}

.info_el {
  min-height: 60px;
  display: flex;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
}

.info_el > p {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}


.ava1 {
  height: 45px;
  width: 45px;
  border-radius: 12px;
  margin: 7px;
  margin-left: 17px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.smail {
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
  transform: translateX(10px);
  margin-top: 6px;
}

.info_el > div {
  cursor: pointer;
  right: 20px;
}

.info_el > div > img {
  height: 65px;
  position: absolute;
  right: 0;
}

#id_1 {
  position: absolute;
  left: 375px;
  top: 35px;
  opacity: 0.5;
  height: 20px;
  margin-top: 3px;
}

span {
  margin-right: 10px;
}

#id_2 {
  height: 20px;
  margin-inline: 10px;
}

.dotas {
  position: absolute;
  right: 20px;
  display: flex;
  width: 170px;
}

.dotas > span {
  margin-top: 10px;
  margin-inline: 5px;
  height: 50px;
  width: 115px;
  color: #e74343;
}

.panel {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panel > p {
  position: absolute;
}

.headerr {
  height: 100px;
  width: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Input {
  border-radius: 10px;
  margin-left: 20px;
  background: rgb(230, 230, 230);
  border: #bebebe 1px solid;
  height: 35px;
  transform: translateX(25px);
  width: 400px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.headerr > div > img {
  transform: translateX(60px) translateY(7px);
  height: 26px;
}

.match {
  display: flex;
  height: 100%;
  align-items: center;
}

.team {
  display: flex;
  height: 100%;
  width: 180px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-3px);
}

.info > p {
  font-size: 16px;
}

.infoo {
  height: 100%;
  width: 200px;
  position: absolute;
  right: 0;
  padding-top: 20px;
}

.infoo > p {
  font-size: 16px;
}

.line {
  height: 2px;
  border-radius: 1px;
  width: 50px;
  background-color: #9c9c9c;
  opacity: 0;
  position: absolute;
  margin-top: 27px;
}
