.content {
  min-height: 875px;
  width: 650px;
  border-radius: 22px;
  background: #eaeaea;
  margin-top: 20px;
  display: flex;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.content_right_ {
  min-height: 70px;
  width: 350px;
  transform: translateX(-30px);
  border-radius: 17px;
  background: #eaeaea;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content_right_:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-30px) translateY(2px);
}

.content_right_>div {
  display: flex;
  margin-top: 5px;
  width: 100%;
  margin-left: 20px;
  transition: 0.3s;
}

.content_right_>div:hover {
  margin-left: 25px;
  cursor: pointer;
}

.headerr {
  height: 100px;
  width: 100%;
  margin-top: 2px;
  display: flex;
  padding-top: 20px;
}

.Input {
  border-radius: 10px;
  margin-left: 20px;
  background: rgb(230, 230, 230);
  border: #bebebe 1px solid;
  height: 35px;
  transform: translateX(25px);
  width: 400px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.headerr>div>img {
  transform: translateX(60px) translateY(7px);
  height: 26px;
}

.info_el {
  min-height: 60px;
  display: flex;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
}

.info_el:hover {
  background: #c9c9c9;
}

.info_el>p {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}

.ava {
  height: 47px;
  width: 47px;
  border-radius: 12px;
  margin: 7px;
  margin-left: 17px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.smail {
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
  transform: translateX(10px);
  margin-top: 6px;
}

.info_el>div {
  cursor: pointer;
  right: 20px;
}

.info_el>div>img {
  height: 65px;
  position: absolute;
  right: 0;
}

#id_1 {
  position: absolute;
  left: 375px;
  top: 30px;
  opacity: 0.5;
  height: 20px;
  margin-top: 3px;
}

span {
  margin-right: 10px;
}

#id_2 {
  height: 20px;
  margin-inline: 10px;
}

.dotas {
  position: absolute;
  right: 20px;
  display: flex;
  width: 170px;
}

.dotas>span {
  margin-top: 10px;
  margin-inline: 5px;
  height: 50px;
  width: 115px;
  color: #e74343;
}
.panel {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panel>p {
  position: absolute;
}

.Record {
  display: flex;
  transition: ease 0.7s;
  cursor: pointer;
  margin-top: 11px;
  position: absolute;
}

.Record:hover {
  transform: translateX(5px);
}
