.content {
    border-radius: 20px;
    width: 625px;
    background: #EAEAEA;
    transform: translateX(-44px);
    box-shadow: 0 4px #d3d3d3;
    margin-top: 20px;
    transition: .7s;
    padding: 20px;
    transition: .7s;
}
.numb {
    border: #bdbdbd 1px solid;
    background: #eaeaea;
    height: 30px;
    border-radius: 5px;
    padding-left: 7px;
    width: 100px;
    transform: translateX(17px);
}
.content:hover {
    box-shadow: 0 2px #d3d3d3;
    transform: translateX(-44px) translateY(2px);
}
.header {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mmr {
    display: flex;
    align-items: center;
}
input {
    margin-top: 15px;
}
.rank {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 30px;
}

.input {
    margin: 15px;
    margin-bottom: 40px;
    width: 400px;
}