.content {
  min-height: 275px;
  width: 650px;
  border-radius: 30px;
  background: #EAEAEA;
  margin-top: 20px;
  display: flex;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 4px #d3d3d3;
  transition: 0.7s;
}

.content:hover {
  box-shadow: 0 2px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.head {
  margin: 40px;
  margin-left: 60px;
  font-weight: bold;
}

.pcontent {
  width: 85%;
  margin-left: 40px;
  line-height: 220%;
  font-weight: bold;
  margin-bottom: 30px;
}

.pcontent > p {
  font-size: 16px;
  font-weight: normal;
}

#id_04 {
  height: 18px;
  transform: rotate(180deg) translateX(-1px);
  position: absolute;
  top: 20px;
  left: 25px;
  cursor: pointer;
}