.content {
  height: 65px;
  width: 625px;
  border-radius: 16px;
  background: #eaeaea;
  margin-top: 18px;
  display: flex;
  transform: translateX(-44px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-44px) translateY(2px);
  cursor: pointer;
}

.match {
  display: flex;
  height: 100%;
  align-items: center;
}

.team {
  display: flex;
  height: 100%;
  width: 180px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-3px);
}

.info>p {
  font-size: 16px;
}

.infoo {
  height: 100%;
  width: 200px;
  position: absolute;
  right: 0;
  padding-top: 20px;
}

.infoo>p {
  font-size: 16px;
}