.content {
    min-height: 240px;
    width: 700px;
    border-radius: 17px;
    margin-top: 20px;
    transform: translateX(-70px);
    background: #EAEAEA;
    box-shadow: 0 6px #d3d3d3;
    transition: .7s;
}

.content:hover {
    box-shadow: 0 4px #d3d3d3;
    transform: translateX(-70px) translateY(2px);
}

.back {
    height: 180px;
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background: rgb(173, 173, 173);
    background-size: cover;
    background-position: center;
}

.us_info {
    height: 40%;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo {
    height: 70px;
    width: 70px;
    transform: translateY(-35px) translateX(20px);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.info {
    height: 100px;
    width: 100%;
    transform: translateY(-75px);
    display: flex;
    justify-content: end;
}

.info>div {
    height: 100%;
    width: 80%;
}

.info>div>div {
    display: flex;
}

#id_1 {
    font-size: 26px;
    margin: 5px;
    transform: translateX(-20px) translateY(5px);
}

#id_2 {
    font-size: 18px;
    margin: 5px;
    margin-top: 15px;
    transform: translateX(-20px);
}

.smail {
    height: 18px;
    width: 18px;
    transform: translateY(14px) translateX(5px);
    background-size: cover;
}

.followers {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.followers>img {
    height: 22px;
}

.content_DOTA {
    min-height: 100px;
    width: 691px;
    border-radius: 20px;
    background: #EAEAEA;
    margin-top: 10px;
    transform: translateX(-70px);
    position: relative;
    display: flex;
    padding-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    box-shadow: 0 6px #d3d3d3;
    transition: .7s;
    padding-bottom: 10px;
}

.content_DOTA:hover {
    box-shadow: 0 4px #d3d3d3;
    transform: translateX(-70px) translateY(2px);
}

.rank {
    height: 55px;
    width: 55px;
    position: absolute;
    right: 35px;
    top: 20px;
    background-size: cover;
}

.team_logo {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    transform: translateY(10px);
    background-size: cover;
    background-position: center;
    border-radius: 13px;
}

.DOTA_info {
    height: 100%;
    width: 90%;
    display: flex;
}

.DOTA_info>p {
    margin-top: 10px;
    margin-left: 15px;
}

.DOTA_info>p {
    margin-top: 10px;
    margin-left: 15px;
}

.value_D {
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(8px);
}

.value_D>span {
    font-size: 40px;
    margin-top: 10px;
    transform: translateX(2px);
}

.cup {
    height: 80px;
    width: 80px;
    background: rgb(71, 71, 71);
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.leave {
    position: absolute;
    right: 9px;
    top: 25px;
    height: 56px;
    width: 140px;
    cursor: pointer;
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: .5s;
}

.leavego {
    position: absolute;
    right: 9px;
    top: 25px;
    height: 56px;
    width: 140px;
    cursor: pointer;
    border-radius: 7px;
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
    transition: .5s;
}

.leavego>div {
    background: #7c7c7c;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.leavego>div:hover {
    background: #6d6d6d;
}

.leavego>div>p {
    font-size: 16px;
    color: whitesmoke;
}

.leave>div {
    background: #999999;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.leave>div>p {
    font-size: 16px;
    color: whitesmoke;
}

.roles {
    height: 70px;
    width: 100%;
    transform: translateX(-2px);
    flex-wrap: wrap;
}

.role {
    height: 20px;
    min-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    padding-inline: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.role>p {
    font-size: 14px;
    color: whitesmoke;
}

.steam {
    position: absolute;
    bottom: 90px;
    left: 25px;
    z-index: 2;
}

.steam>img {
    height: 15px;
    margin-right: 5px;
    transform: translateY(2px);
}

.player {
    height: 180px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    cursor: pointer;
}

.player:hover {
    transform: translateY(-5px);
}

.player>div {
    border-radius: 5px;
    width: 90px;
    height: 100px;
    background: rgb(119, 119, 119);
    background-position: center;
    background-size: cover;
}

.player>p {
    width: 95px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #686868;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}


.info_el {
    min-height: 60px;
    display: flex;
    cursor: pointer;
    padding: 5px;
    transition: .4s;
}

.info_el:hover {
    background: #c9c9c9;
}

.info_el>p {
    margin-top: 13px;
    margin-left: 20px;
    display: flex;
    cursor: pointer;
}

.ava {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin: 4px;
    margin-left: 15px;
    background: #a5a5a5;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.smail {
    height: 17px;
    width: 17px;
    border-radius: 2px;
    background: #a5a5a5;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-right: 10px;
    transform: translateX(10px);
    margin-top: 6px;
}

.dotas > img {
    margin-top: 2px;
    height: 65px;
}

span {
    margin-right: 10px;
}

#id_2 {
    height: 20px;
    margin-inline: 10px;
}

.dotas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
}

.pos {
    height: 16px;
    width: 16px;
    background-size: cover;
}

.pos_list {
    gap: 6px;
    width: 70px;
    display: flex;
    justify-content: center;
    transform: translateX(-10px);
    flex-wrap: wrap;
}

.og {
    margin: 25px;
    margin-left: 20px;
    transform: translateY(10px);
}