.content {
  min-height: 875px;
  width: 625px;
  border-radius: 30px;
  background: #EAEAEA;
  margin-top: 20px;
  display: flex;
  transform: translateX(-70px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: .7s;
}

.content:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-70px) translateY(2px);
}

.content_right_ {
  min-height: 70px;
  width: 350px;
  transform: translateX(-55px);
  border-radius: 17px;
  background: #EAEAEA;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  box-shadow: 0 6px #d3d3d3;
  transition: .7s;
}

.content_right_:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-55px) translateY(2px);
}

.content_right_>div {
  display: flex;
  margin-top: 5px;
  width: 100%;
  margin-left: 20px;
  transition: .3s;
}

.content_right_>div:hover {
  margin-left: 25px;
  cursor: pointer;
}

.headerr {
  height: 100px;
  width: 100%;
  margin-top: 2px;
  display: flex;
  padding-top: 20px;
  margin-bottom: 0px;
}

.Input {
  border-radius: 10px;
  margin-left: 20px;
  background: rgb(230, 230, 230);
  border: #bebebe 1px solid;
  height: 35px;
  transform: translateX(25px);
  width: 400px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.headerr>div>img {
  transform: translateX(60px) translateY(7px);
  height: 26px;
}

.info_el {
  min-height: 60px;
  display: flex;
  border-bottom: 1px solid #a5a5a5;
  cursor: pointer;
  padding: 5px;
  transition: .4s;
}

.info_el:hover {
  background: #c9c9c9;
}

.info_el>p {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}

.ava {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  margin: 4px;
  margin-left: 7px;
  border: 3px solid #e6e6e6;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.smail {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
}

.info_el>img {
  cursor: pointer;
  position: absolute;
  height: 20px;
  right: 20px;
  margin-top: 20px;
}

#id_1 {
  position: absolute;
  left: 375px;
  opacity: 0.5;
  height: 20px;
  margin-top: 9px;
}