* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: 17px;
  color: #7e7e7e;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  background: rgb(255, 255, 255);
}

main {
  background-size: cover;
  background-position: initial;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='970' preserveAspectRatio='none' viewBox='0 0 1920 970'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1065%26quot%3b)' fill='none'%3e%3crect width='1920' height='970' x='0' y='0' fill='rgba(194%2c 194%2c 194%2c 1)'%3e%3c/rect%3e%3cpath d='M1984 970L0 970 L0 586.38Q70.87 561.25%2c 96 632.11Q137.92 514.03%2c 256 555.95Q354.22 494.17%2c 416 592.39Q493.17 573.56%2c 512 650.72Q554.74 597.46%2c 608 640.2Q657.01 529.21%2c 768 578.22Q856.83 507.05%2c 928 595.87Q983.59 491.46%2c 1088 547.06Q1215.47 514.53%2c 1248 642Q1314.07 548.07%2c 1408 614.14Q1494.6 540.74%2c 1568 627.33Q1660.24 559.57%2c 1728 651.81Q1728.32 556.13%2c 1824 556.44Q1893.46 465.9%2c 1984 535.37z' fill='rgba(187%2c 187%2c 187%2c 1)'%3e%3c/path%3e%3cpath d='M1952 970L0 970 L0 726.98Q83.97 650.95%2c 160 734.92Q188.33 667.25%2c 256 695.58Q329.15 608.73%2c 416 681.88Q523.46 629.34%2c 576 736.79Q615.01 615.8%2c 736 654.81Q801.05 559.86%2c 896 624.9Q972.63 605.53%2c 992 682.16Q1058.2 588.36%2c 1152 654.55Q1190.63 597.18%2c 1248 635.81Q1320.65 612.46%2c 1344 685.11Q1439 620.11%2c 1504 715.11Q1509.1 624.21%2c 1600 629.31Q1706.94 576.25%2c 1760 683.19Q1821.49 648.68%2c 1856 710.17Q1898.73 656.89%2c 1952 699.62z' fill='rgba(197%2c 197%2c 197%2c 1)'%3e%3c/path%3e%3cpath d='M2016 970L0 970 L0 732.81Q88.76 725.57%2c 96 814.33Q126.01 684.35%2c 256 714.36Q315.32 677.68%2c 352 737.01Q437.19 726.2%2c 448 811.4Q510.65 714.05%2c 608 776.7Q626.25 698.95%2c 704 717.2Q800.88 654.08%2c 864 750.95Q947.47 738.42%2c 960 821.89Q994.97 760.86%2c 1056 795.83Q1098.45 742.28%2c 1152 784.73Q1178.05 714.78%2c 1248 740.83Q1279.63 676.47%2c 1344 708.1Q1415.3 683.4%2c 1440 754.7Q1542.6 697.3%2c 1600 799.89Q1635.2 675.1%2c 1760 710.3Q1817.39 671.69%2c 1856 729.09Q1946.88 659.97%2c 2016 750.85z' fill='rgba(211%2c 211%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M2080 970L0 970 L0 873.45Q100.41 813.87%2c 160 914.28Q163.25 821.53%2c 256 824.79Q289.7 762.49%2c 352 796.19Q405.51 753.7%2c 448 807.21Q558.68 757.89%2c 608 868.58Q679.26 779.84%2c 768 851.1Q822.6 745.7%2c 928 800.31Q1017.03 729.34%2c 1088 818.36Q1152.57 786.92%2c 1184 851.49Q1220.5 791.99%2c 1280 828.49Q1346.87 735.36%2c 1440 802.22Q1576 778.22%2c 1600 914.22Q1660.8 815.01%2c 1760 875.81Q1848.37 804.18%2c 1920 892.55Q2008.78 821.33%2c 2080 910.1z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1984 970L0 970 L0 941.25Q57.57 838.82%2c 160 896.38Q281.23 857.61%2c 320 978.84Q374.29 873.13%2c 480 927.43Q538.76 890.19%2c 576 948.96Q642.79 919.75%2c 672 986.55Q757.68 912.23%2c 832 997.91Q858.52 928.43%2c 928 954.95Q982.85 849.8%2c 1088 904.64Q1162.62 819.25%2c 1248 893.87Q1350.87 836.74%2c 1408 939.61Q1478.91 850.52%2c 1568 921.43Q1678.97 872.39%2c 1728 983.36Q1766.62 925.98%2c 1824 964.6Q1870.68 851.29%2c 1984 897.97z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1065'%3e%3crect width='1920' height='970' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  height: 50px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
}

.header_content_place {
  width: 940px;
  height: 100%;
  transform: translateX(70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_content_place_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  transform: translateX(20px);
  cursor: pointer;
}
#img_id_1 {
  height: 27px;
  transform: translateX(5px);
}

.header_content_place_right {
  transform: translate(-220px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.ava {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background-color: #a8a8a8;
  background-size: cover;
  background-position: center;
}

.header_content_place_right > p {
  font-size: 18px;
  margin-right: 10px;
}

main {
  height: 100vh;
  /* width: 100%; */
}

main > main {
  display: flex;
}

section {
  height: 100%;
  width: 33.3%;
  position: relative;
}

#img_id_2 {
  height: 21px;
  transform: translateY(3px);
}

#img_id_3 {
  height: 27px;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

#img_id_6 {
  transform: translateX(20px) translateY(-40px);
  height: 150px;
}

#text_id_5 {
  transform: translateY(-5px) translateX(35px);
}

#img_id_7 {
  transform: translateX(30px) translateY(-55px);
  height: 20px;
}

#text_id_1 {
  transform: translateY(70px) translateX(31px);
}

#img_id_8 {
  transform: translateX(26px) translateY(-35px);
  height: 100px;
}

#text_id_2 {
  transform: translateY(25px) translateX(30px);
}

#img_id_9 {
  transform: translateX(30px) translateY(-40px);
  height: 40px;
}

#text_id_3 {
  transform: translateY(60px) translateX(32px);
}

#img_id_10 {
  transform: translateX(30px) translateY(-35px);
  height: 80px;
}

#text_id_4 {
  transform: translateY(35px) translateX(32px);
}

.shadow {
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, 0.651);
  height: 100%;
  width: 100%;
}

.viewPass {
  height: 14px;
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
  opacity: 0;
}

.viewPass_go {
  opacity: 1;
}
.lineColor {
  height: 2px;
  background: #e74343;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transition: 0.6s;
  transform-origin: left;
}

.lineColor_go {
  transform: scaleX(1);
}

.defP {
  transform: translateX(10px) translateY(10px);
  font-weight: 550;
  transition: 1s;
}

.defP_go {
  transform: translateX(3px) translateY(-5px);
  opacity: 0.1;
}

.info {
  z-index: 2;
  height: 16px;
  position: absolute;
  right: -29px;
  top: 1px;
  cursor: pointer;
  opacity: 1;
}

.info_krest {
  z-index: 2;
  height: 12px;
  position: absolute;
  right: -30px;
  top: 30px;
  cursor: pointer;
  opacity: 0;
}

footer {
  height: 80px;
  width: 100%;
  background: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer > div {
  display: flex;
  transform: translateX(-18px) translateY(2px);
  gap: 5px;

  cursor: pointer;
}

footer > div > p {
  color: #d2d2d2;
}

footer > p {
  position: absolute;
  right: 20px;
  font-size: 16px;
  bottom: 20px;
  color: #d2d2d2;
  cursor: pointer;
}

@keyframes shadowAnim {
  0% {
    opacity: .7;
  } 100% {
    opacity: 1;
  }
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vh;
  z-index: 1;
  height: 100vh;
  background: #373737d5;
	animation: shadowAnim .1s forwards;
}

@keyframes modalAnim {
  0% {
    opacity: .5;
    transform: translateX(-55%) translateY(-2%);
  } 100% {
    opacity: 1;
  }
}

.modal {
  height: 400px;
  width: 600px;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translateX(-55%);
  border-radius: 30px;
  z-index: 2;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
	animation: modalAnim .2s forwards;
}

.modal > div {
  outline: #9e9e9e dashed 2px;
  height: 95%;
  width: 97%;
  border-radius: 23px;
}


.loader {
  position: absolute;
  top: 45%;
  right: 45%;
}

#id_111 {
  margin-right: 10px;
  transform: translateY(8px);
}

.full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full > div > img {
  height: 170px;
  margin-bottom: 70px;
}

.full > div > p {
  transform: translateY(-20px) translateX(16px);
  font-size: 24px;
}

.krestik {
  position: absolute;
  top: 22px;
  right: 25px;
  cursor: pointer;
}

#id_00 {
  transform: translateX(-60%);
}

#id_102 {
  height: 110px;
  position: absolute;
  top: 15%;
  right: 15%;
}

#id_104 {
  height: 45px;
  position: absolute;
}

.app_ {
  width: 100%;
  height: 50%;
  padding-top: 50px;
  padding-left: 30px;
}

.more {
  height: 37px;
  width: 150px;
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e74343;
  cursor: pointer;
  box-shadow: 0 4px #9e2424;
  transition: 0.7s;
}

.more:hover {
  box-shadow: 0 2px #9e2424;
  transform: translateY(2px);
}

.more > p {
  color: #ebebeb;
}

.smail {
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background: #a5a5a5;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.app__ {
  display: flex;
  margin-left: 20px;
}

.smaill_ {
  height: 45px;
  width: 45px;
  background: #a5a5a5;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.Input {
  border-radius: 10px;
  background: rgb(230, 230, 230);
  border: #bebebe 1px solid;
  height: 35px;
  transform: translateX(25px);
  width: 320px;
  position: absolute;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.agetations {
  height: 220px;
  width: 625px;
  border-radius: 22px;
  background: #eaeaea;
  margin-top: 20px;
  transform: translateX(-44px);
  display: flex;
  overflow: hidden;
  padding-left: 5px;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.agetations:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-44px) translateY(1px);
}

.agetations:hover ~ #id_53 {
  transform: translateY(-5px);
}

.agetations > div {
  height: 100%;
  width: 60%;
}

.mdf {
  display: flex;
  margin: 15px;
  margin-left: 45px;
}

.mdf > img {
  height: 0px;
  margin-left: 10px;
  margin-top: 3px;
}

.mdf > p {
  color: #e74343;
  font-size: 20px;
  font-weight: 600;
}

#id_53 {
  position: absolute;
  height: 80px;
  bottom: 18%;
  left: 10%;
}

#id_54 {
  position: absolute;
  height: 125px;
  bottom: 15%;
  left: 9%;
}

#id_55 {
  position: absolute;
  height: 85px;
  bottom: 17%;
  left: 9%;
}

#id_4312 {
  position: absolute;
  height: 400px;
  top: -25%;
  right: 11%;
}

.agetations > p {
  position: absolute;
  width: 120px;
  right: 10px;
  top: 30px;
}

.agetDD {
  height: 40px;
  width: 150px;
  border-radius: 15px;
  background: #e74343;
  position: absolute;
  bottom: 55px;
  right: -165px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.agetDD > p {
  color: whitesmoke;
  font-size: 18px;
  font-weight: normal;
}

.opacity05 {
  opacity: 0.5;
}

.content2 {
  height: 65px;
  width: 625px;
  border-radius: 20px;
  background: #eaeaea;
  margin-top: 15px;
  display: flex;
  transform: translateX(-44px);
  flex-direction: column;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content2:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-44px) translateY(2px);
  cursor: pointer;
}

.match {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.match > div {
  padding-left: 35px;
  width: 50%;
}

.match > div > p {
  color: #e74343;
}
#id_5 {
  position: absolute;
  height: 20px;
  top: 22px;
  right: 51%;
}

.content_right_ {
  width: 350px;
  transform: translateX(-30px);
  border-radius: 17px;
  background: #eaeaea;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  box-shadow: 0 6px #d3d3d3;
  transition: 0.7s;
}

.content_right_:hover {
  box-shadow: 0 4px #d3d3d3;
  transform: translateX(-30px) translateY(2px);
}

.content_right_ > div {
  display: flex;
  margin-top: 5px;
  width: 100%;
  margin-left: 20px;
  transition: 0.3s;
}

.content_right_ > div:hover {
  margin-left: 25px;
  cursor: pointer;
}

.offers:hover .point {
  left: 133px;
}

.point {
  height: 8px;
  width: 8px;
  border-radius: 20px;
  background: #e74343;
  position: absolute;
  left: 127px;
  margin-top: 5px;
  border: 3px solid #eaeaea;
  transition: 0.4s;
}

input {
  margin-top: 8px;
  padding-left: 10px;
  background-color: rgb(230, 230, 230);
}

textarea {
  background-color: rgb(230, 230, 230);
}
.transformup {
  transition: 0.6s;
}

.transformup:hover {
  transform: translateY(-2px);
}

#id_bck_1 {
  height: 430px;
  position: absolute;
  transform: scaleX(-1);
  bottom: 0px;
  left: 40px;
}

#id_bck_2 {
  height: 375px;
  position: absolute;
  transform: scaleX(-1);
  bottom: -20px;
  right: 15px;
}

#id_bck_3 {
  height: 600px;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

#id_bck_4 {
  height: 150px;
  position: absolute;
  top: 150px;
  left: 120px;
  transform: rotate(30deg);
}

#s_id {
  @media (min-width: 2560px) {
    padding-left: -550px;
  }
  @media (max-width: 1920px) {
    padding-left: -15px;
  }
  @media (max-width: 1880px) {
    padding-left: 20px;
  }
  @media (max-width: 1800px) {
    padding-left: 60px;
  }
  @media (max-width: 1720px) {
    padding-left: 70px;
  }
  @media (max-width: 1640px) {
    padding-left: 90px;
  }
  @media (max-width: 1560px) {
    padding-left: 110px;
  }
  @media (max-width: 1480px) {
    padding-left: 150px;
  }
  @media (max-width: 1440px) {
    padding-left: 170px;
  }
  @media (max-width: 1240px) {
    padding-left: 230px;
  }
}

main {
  @media (max-width: 1040px) {
    display: none;
  }
}

#id_111 {
  height: 50px;
}
#id_112 {
  height: 44px;
}
#id_113 {
  height: 37px;
}

.linkImage {
  margin: 10px;
  height: 44px;
  cursor: pointer;
  transition: .2s;
  transform: translateY(15px);
}

.linkImage:hover {
  transform: translateY(10px);
}